*/__pycache__/
fabric_automation_framework.egg-info/
docs/sample_scan_response.json
src/test.py
.ado/.bicep/BicepADF.code-workspace
build/
dist/
docs/scan_response.json
docs/tests_config.json
fabri_automation_framework.egg-info/
fabric/
fabric_automation.egg-info/
fabricautomationframework.egg-info/
logs/
src/fabric_automation_utils.egg-info/
src/fabric_automation_utils/__pycache__/
dist/*
src/fabric_utils.egg-info/